.Button {
	position: relative;
	width: 324px;
	height: 56px;
	display: flex;
	margin-top: 220px;
	margin-left: -195px;
	font-size: 20px;
	align-items: center;
	justify-content: center;
	transition: 0.2s ease;
	white-space: nowrap;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	line-height: 40px;
	padding: 0 14px;
	font-weight: 600;
}

.Button:hover {
	transform: translateY(-8px);
}

@media (max-width: 414px) {
	.Button {
		margin-left: 0px;
		margin-top: 230px;
	}
}
